<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span lang="EN-GB" style="font-size:15px;font-weight:bold;">Household Instaquote PDC V6</span></u></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:537.0pt;border-collapse:collapse;border:none;" width="716">
	<tbody>
		<tr>
			<td bgcolor="#FFFF00" height="27" style="width: 537pt;border: 1pt solid windowtext;background: rgb(68, 114, 196) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 20.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;color:white;font-weight:bold;">&nbsp;</span></strong></p>
			</td>
		</tr>
		<tr>
			<td height="72" style="width: 537pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 54.35pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:bold;">&nbsp;</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-US" style="font-size:15px;color:red;font-weight:bold;">Identify Customer</span></strong><span style="color:red;">&nbsp;&ndash;&nbsp;</span><span lang="EN-US" style="color:#0D0D0D;">Data Protection</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:36.0pt;'><span lang="EN-US" style="font-size:15px;color:red;">&nbsp;</span></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;color:red;font-weight:bold;">ESTABLISH WHO CURRENTLY INSURED WITH &ndash;&nbsp;</span></strong><strong><span lang="EN-GB" style="color:#0D0D0D;font-weight:bold;">Transfer to renewals if Admiral unless adding as multicover.</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;color:red;font-weight:bold;">&nbsp;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;color:red;font-weight:bold;">Confirm price and level of cover provided.</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;color:red;font-weight:bold;">&nbsp;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;color:#0D0D0D;font-weight:bold;">&ldquo;Do you rent or own your property?</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;color:#0D0D0D;font-weight:bold;">&nbsp;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:  bold;">Are you happy to accept the policy based on the assumptions made about you and your property being accurate or would you like me to run through these again with you?</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;font-weight:bold;">&nbsp;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;color:red;font-weight:bold;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:537.0pt;border-collapse:collapse;border:none;" width="716">
	<tbody>
		<tr>
			<td bgcolor="#FFFF00" height="27" style="width: 537pt;border: 1pt solid windowtext;background: rgb(68, 114, 196) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 20.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;color:white;font-weight:bold;">Limited Disclosure/All Tiers KC</span></strong></p>
			</td>
		</tr>
		<tr>
			<td height="72" style="width: 537pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 54.35pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:  bold;">&nbsp;</span></strong></p>

				<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:  5.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:bold;">&ldquo;During the call I&rsquo;ll give you some key information about your cover and the additional products available. Full information is available on our website. Is that okay?&rdquo;</span></strong> <strong><span style="color:red;font-weight:bold;">(Must gain consent)</span></strong><span style="color:#0070C0;">&nbsp;</span></p>

				<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:  5.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:15px;line-height:115%;color:#0070C0;">&nbsp;(</span><span style="color:red;">If <strong><span style="font-weight:bold;">NO</span></strong></span><span style="color:#0070C0;">&nbsp;&ndash;&nbsp;</span><span style="color:red;">Give prices but explain</span><span lang="EN-GB" style="color:#0070C0;">&nbsp;&ldquo;We won&rsquo;t be able to accept this policy over the phone unless you agree to receive limited information. &nbsp;If you prefer to see the full terms &amp; conditions beforehand, these are available on our website or you can have information sent by post and I&rsquo;ll call you back?&rdquo;)</span></p>

				<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:  5.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span lang="EN-GB" style="font-size:15px;line-height:115%;color:#0070C0;">&nbsp;</span></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:bold;">We offer three levels of cover; Admiral, Gold and Platinum. All three levels provide cover</span></strong><span style="color:#333333;">&nbsp;<strong><span style="font-weight:bold;">for</span></strong>&nbsp;</span><strong><span style="font-weight:bold;">loss or damage caused by things such as fire, theft and flooding and include new for old, alternative accommodation and replacement lock cover.</span></strong>&nbsp;</p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:bold;">&nbsp;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;color:red;font-weight:bold;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:537.0pt;border-collapse:collapse;border:none;" width="716">
	<tbody>
		<tr>
			<td bgcolor="#FFFF00" height="27" style="width: 537pt;border: 1pt solid windowtext;background: rgb(68, 114, 196) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 20.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;color:white;font-weight:bold;">Property</span></strong></p>
			</td>
		</tr>
		<tr>
			<td height="72" style="width: 537pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 54.35pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:bold;">&nbsp;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:  bold;">This insurance is for (Address given) and you&rsquo;re looking to insure Contents/Buildings/Both, and looking to start the insurance on xx date?</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;font-weight:bold;">&nbsp;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-weight:bold;"><span style="text-decoration: none;">&nbsp;</span></span></u></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:537.0pt;border-collapse:collapse;border:none;" width="716">
	<tbody>
		<tr>
			<td bgcolor="#FFFF00" height="27" style="width: 537pt;border: 1pt solid windowtext;background: rgb(68, 114, 196) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 20.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;color:white;font-weight:bold;">Property Cover</span></strong></p>
			</td>
		</tr>
		<tr>
			<td height="50" style="width: 537pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 37.2pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:bold;">&nbsp;</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:15px;color:red;">Reconfirm any items specified &amp; pp value selected.</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span lang="EN-US" style="font-size:15px;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:537.0pt;border-collapse:collapse;border:none;" width="716">
	<tbody>
		<tr>
			<td bgcolor="#FFFF00" height="27" style="width: 537pt;border: 1pt solid windowtext;background: rgb(68, 114, 196) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 20.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;color:white;font-weight:bold;">Claims</span></strong></p>
			</td>
		</tr>
		<tr>
			<td height="257" style="width: 537pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 192.6pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:  bold;">&nbsp;</span></strong></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">We check external claims databases. &nbsp;Any conflicting or additional information may affect the price. Are you confident you have provided accurate details of ALL incidents within the last 5 years?&nbsp;</span></strong><span style="color:#8496B0;">This could include loss or damage to buildings, contents or personal belongings? Have you reported any incidents to your insurer in the last 5 years?</span><strong>&rdquo;</strong></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>Now call CUE before any negotiation takes place</li>
						<li>
							<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

								<ol style="margin-bottom:0cm;list-style-type: circle;">
									<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>CUE claim present &ndash; Go to Risk Analysis tab, include claim and requote</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span lang="EN-US" style="font-size:15px;color:red;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-US" style="font-size:15px;color:red;font-weight:bold;">Leave a note advising of PDC</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span lang="EN-US" style="font-size:15px;color:red;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:537.0pt;border-collapse:collapse;border:none;" width="716">
	<tbody>
		<tr>
			<td bgcolor="#FFFF00" height="27" style="width: 537pt;border: 1pt solid windowtext;background: rgb(68, 114, 196) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 20.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:  115%;color:white;font-weight:bold;">Negotiation</span></strong></p>
			</td>
		</tr>
		<tr>
			<td height="72" style="width: 537pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 54.35pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:  bold;">&nbsp;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:  bold;">Use relevant negotiation script</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span lang="EN-GB" style="font-size:15px;line-height:115%;font-weight:bold;">&nbsp;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-weight:bold;">&nbsp;</span></strong></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span lang="EN-GB" style="font-size:15px;line-height:115%;">&nbsp;</span></p>
