<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="color:black;">Content text key</span></u></strong></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height: normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">Black &ndash; Flexible</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height: normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:black;">Black Bold &ndash; Compulsory</span></strong></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height: normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:#0070C0;">Blue &ndash; Conditional Script</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height: normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:red;">Red - Signposting</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height: normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="color:black;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u>New customer Instaquote:</u></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;color:green;">&lsquo;</span><span style="font-family:Calibri;color:black;">&rsquo;Who&rsquo;s your home insurance with?</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;;">&nbsp;&ldquo;Do you rent or own your property?</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:Symbol;">&middot;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-family:;color:black;">&ldquo;Do you insure both your building and contents?&rdquo;</span></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="text-decoration:none;">&nbsp;</span></u></strong></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">I can provide a quote for you. It&rsquo;s a very easy process, we don&rsquo;t need to ask lots of tricky questions, we&rsquo;ll just confirm a few assumptions about you and your property to see what price we can provide. You can then tailor this to meet your needs with our cover options.</span></p>

<p style="margin-left:18.0pt;line-height:normal;">Complete:&nbsp;</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:44px;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;;">Property Tab&nbsp;</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;;">Fill in Occupants tab</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;;">Fill in Assumptions Tab&nbsp;</span></li>
	</ul>
</div>

<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="text-decoration:none;">&nbsp;</span></u></strong></p>

<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u>Instaquote &ndash; FDC process</u></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;color:green;">&lsquo;</span><span style="font-family:Calibri;color:black;">&rsquo;Who&rsquo;s your home insurance with?</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;color:black;">&nbsp;&lsquo;&rsquo;What month is it due for renewal?&rsquo;&rsquo;</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;;">&ldquo;Do you rent or own your property?</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;color:black;">&ldquo;Do you insure both your building and contents?&rdquo;</span></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">&nbsp;</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">The reason I ask is because I can reduce this car premium today if you combine your home and car insurance together as a Multi cover policy.</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>You stay with your current home provider until its renewal date so you don&rsquo;t incur any cancellation fees; it then joins your car insurance policy for the remainder of the term.&nbsp;</p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">It&rsquo;s a very easy process, we already have a lot of your information so we don&rsquo;t need to ask lots of tricky questions. We&rsquo;ll just confirm a few assumptions about you and your property to see what price we can provide, you can then tailor this to meet your needs with our cover options.</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">It only takes a couple of minutes, shall I give you a&nbsp;</span>quick <span style="color:black;">quote?&nbsp;</span></p>

<p style="margin-left:18.0pt;line-height:normal;">Complete:&nbsp;</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:44px;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;;">Property Tab&nbsp;</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;;">Fill in Occupants tab</span></li>
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:;;">Fill in Assumptions Tab&nbsp;</span></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height: normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height: normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="color:black;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:529.9pt;border-collapse:collapse;border:none;" width="707">
	<tbody>
		<tr>
			<td style="width: 529.9pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 20.8pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Limited Disclosure/All Tiers KC</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 529.9pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 35.55pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:  5.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&ldquo;During the call I&rsquo;ll give you some key information about your cover and the additional products available. Full information is available on our website. Is that okay?&rdquo;</strong> <strong><span style="color:red;">(Must gain consent)</span></strong><span style="color:#0070C0;">&nbsp;</span></p>

				<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:  5.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:#0070C0;">&nbsp;(</span><span style="color:red;">If <strong>NO</strong></span><span style="color:#0070C0;">&nbsp;&ndash;&nbsp;</span><span style="color:red;">Give prices but explain</span><span style="color:#0070C0;">&nbsp;&ldquo;We won&rsquo;t be able to accept this policy over the phone unless you agree to receive limited information. &nbsp;If you prefer to see the full terms &amp; conditions beforehand, these are available on our website or you can have information sent by post and I&rsquo;ll call you back?&rdquo;)</span></p>

				<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:  5.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:#0070C0;">&nbsp;</span></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>We offer three levels of cover; Admiral, Gold and Platinum. All three levels provide cover</strong><span style="color:#333333;">&nbsp;<strong>for</strong>&nbsp;</span><strong>loss or damage caused by things such as fire, theft and flooding and include new for old, alternative accommodation and replacement lock cover.</strong>&nbsp;</p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:529.9pt;border-collapse:collapse;border:none;" width="707">
	<tbody>
		<tr>
			<td style="width: 529.9pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 18.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">AD / SI / PP</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 529.9pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 35.55pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>Do you have any high-risk items worth over &pound;1000 or bikes over &pound;350?</strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>Do you need cover away from home for everyday personal belongings?&rdquo;</strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:12.0pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong>Would you like to add accidental damage cover for the&hellip;&rdquo;</strong></p>

				<p style='margin:0cm;margin-bottom:6.0pt;font-size:15px;font-family:"Calibri",sans-serif;line-height:12.0pt;'><strong>&ldquo;<u>Contents</u> in your home for things like<span style="color:black;">&nbsp;spilling something on the carpet.&rdquo;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&ldquo;<u>Buildings</u> fixtures &amp; fittings for things like drilling through a pipe.&rdquo;</strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;" width="699">
	<tbody>
		<tr>
			<td style="width: 524.6pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 16.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Claims</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 524.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 181.2pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">We check external claims databases. &nbsp;Any conflicting or additional information may affect the price. Are you confident you have provided accurate details of ALL incidents within the last 5 years?&nbsp;</span></strong><span style="color:#548DD4;">This could include loss or damage to buildings, contents or personal belongings? Have you reported any incidents to your insurer in the last 5 years?</span><strong>&rdquo;</strong></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>Now call CUE before any negotiation takes place</li>
						<li>
							<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

								<ol style="margin-bottom:0cm;list-style-type: circle;">
									<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>CUE claim present &ndash; Go to Risk Analysis tab, include claim and requote&nbsp;

										<table cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td>
														<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

															<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height: 115%;font-size:15px;font-family: "Calibri", sans-serif;margin: 0cm 0cm 10pt;text-align: center;'>If the policy is declined by the caller at this stage for any reason you MUST attempt to save the business, otherwise add a Limited CUE claim present &ndash; Refer to limited CUE procedure note to confirm the reason for the decline and mark as PDC.</p>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:529.9pt;border-collapse:collapse;border:none;" width="707">
	<tbody>
		<tr>
			<td style="width: 529.9pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 18.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Negotiation</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 529.9pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 35.55pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>Use relevant negotiation script</strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:537.0pt;border-collapse:collapse;border:none;" width="716">
	<tbody>
		<tr>
			<td style="width: 537pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 20.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Call Close</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 537pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 54.35pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:  .0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:black;">&nbsp;</span></strong></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Excess</span><span style="color:black;">&nbsp;-&nbsp;</span><span style="color:red;">Compulsory and Voluntary excesses must be given.</span></strong></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">&nbsp;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:  .0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>Additional excesses may apply depending on claim cause and could exceed the amount you are claiming for. Are you happy to read these in your Home Policy Schedule?</strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:  .0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:  .0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">MUST GAIN CONSENT</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:  .0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">&nbsp;</span></strong></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Endorsements</span><span style="color:black;">&nbsp;&ndash;&nbsp;</span></strong><span style="color:black;">Read all that apply to the quote</span></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:black;">&nbsp;</span></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">ICOBS</span></strong></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:  .0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Payment</span></strong></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
