<table border="1" cellpadding="0" cellspacing="0" style="width:531.35pt;border-collapse:collapse;border:none;" width="708">
	<tbody>
		<tr>
			<td style="width: 531.35pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;line-height:115%;'><strong><span style="color:white;">Call Opening</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.35pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 34.45pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm Data Protection &ndash; (<span style="line-height:115%;font-size:13px;">Full name, Date of Birth, First line of address, Postcode</span>)</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm the address to be insured</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="background:yellow;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>PDC notes left by the previous agents?</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Yes</span></strong><span style="color:red;">&nbsp;</span>&ndash; Continue with NDC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong><span style="color:red;">No</span></strong><span style="color:red;">&nbsp;</span>&ndash; Must conduct a PDC</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Does the price match the customers price?</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Yes</span></strong><span style="color:red;">&nbsp;</span>&ndash; Continue with NDC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong><span style="color:red;">No</span></strong><span style="color:red;">&nbsp;</span>&ndash; Must conduct a PDC</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&ldquo;<strong>Have you or anyone else changed any of the details since we last spoke to you?</strong>&rdquo;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">No</span></strong><span style="color:red;">&nbsp;</span>&ndash; Continue with NDC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><span style="color:red;">Yes</span></strong><span style="color:red;">&nbsp;</span>&ndash; Review changes and confirm the new price (if applicable)</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:538.7pt;margin-left:-7.35pt;border-collapse:collapse;border:none;" width="718">
	<tbody>
		<tr>
			<td style="width: 538.7pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 13.1pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Limited Disclosure Consent</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 538.7pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 35.55pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:  5.0pt;font-size:15px;font-family:"Calibri",sans-serif;margin-top:5.0pt;margin-right:0cm;margin-left:0cm;'><strong>&ldquo;During the call I&rsquo;ll give you some key information about your cover and the additional products available. Full information is available on our website. Is that okay?&rdquo;</strong> <strong><span style="color:red;">(Must gain consent)</span></strong><span style="color:#0070C0;">&nbsp;</span></p>

				<p style='margin:0cm;margin-bottom:  5.0pt;font-size:15px;font-family:"Calibri",sans-serif;margin-top:5.0pt;margin-right:0cm;margin-left:0cm;'><span style="color:  #0070C0;">&nbsp;(</span><span style="color:red;">If <strong>NO</strong></span><span style="color:#0070C0;">&nbsp;&ndash;&nbsp;</span><span style="color:  red;">Give prices but explain</span><span style="color:#0070C0;">&nbsp;&ldquo;We won&rsquo;t be able to accept this policy over the phone unless you agree to receive limited information. &nbsp;If you prefer to see the full terms &amp; conditions beforehand, these are available on our website or you can have information sent by post and I&rsquo;ll call you back?&rdquo;)</span></p>

				<p style='margin:0cm;margin-bottom:  5.0pt;font-size:15px;font-family:"Calibri",sans-serif;margin-top:5.0pt;margin-right:0cm;margin-left:0cm;'><span style="color:  #0070C0;">&nbsp;</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong>We offer three levels of cover; Admiral, Gold and Platinum. All three levels provide cover</strong><span style="color:#333333;">&nbsp;<strong>for</strong>&nbsp;</span><strong>loss or damage caused by things such as fire, theft and flooding and include new for old, alternative accommodation and replacement lock cover.</strong>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:538.7pt;margin-left:-7.35pt;border-collapse:collapse;border:none;" width="718">
	<tbody>
		<tr>
			<td style="width: 538.7pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Property Use</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 538.7pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 37.15pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>If Business Use (excluding clerical) &ndash; &ldquo;<em><span style="color:#4F81BD;">There is no cover for liability arising from your business under this policy, and also business stock is not covered under this policy.</span></em>&rdquo;</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:538.7pt;margin-left:-7.35pt;border-collapse:collapse;border:none;" width="718">
	<tbody>
		<tr>
			<td style="width: 538.7pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;line-height:115%;'><strong><span style="color:white;">NDC Consent</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 538.7pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 32.15pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&ldquo;I can arrange cover for you based on the information we&rsquo;ve already checked being accurate. Is that okay?&rdquo; &ndash; <span style="color:red;">MUST GAIN CONSENT</span></strong></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:538.7pt;margin-left:-7.35pt;border-collapse:collapse;border:none;" width="718">
	<tbody>
		<tr>
			<td style="width: 538.7pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;line-height:115%;'><strong><span style="color:white;">Negotiation</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 538.7pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 102.05pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver the relevant tier Key Characteristics (Admiral/Gold/Platinum)</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver the Key Characteristics and price of any ancillaries/Accidental Damage already included</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm any excesses and deliver any excess wording displayed on Guidewire</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver any endorsements</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm the start date</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver the relevant Accidental damage wording (next page)&nbsp;</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Leave a note advising of NDC</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:538.7pt;margin-left:-7.35pt;border-collapse:collapse;border:none;" width="718">
	<tbody>
		<tr>
			<td style="width: 538.7pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;line-height:115%;'><strong><span style="color:white;">Policy Documents Screen</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 538.7pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 46.2pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver any relevant scripting displayed in Guidewire</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm preferred document delivery method</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm email address and mobile phone number in all cases</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:12px;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:538.7pt;margin-left:-7.35pt;border-collapse:collapse;border:none;" width="718">
	<tbody>
		<tr>
			<td style="width: 538.7pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">FCA Script</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 538.7pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver the relevant ICOBS script/legal disclosure</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:12px;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:538.7pt;margin-left:-7.35pt;border-collapse:collapse;border:none;" width="718">
	<tbody>
		<tr>
			<td style="width: 538.7pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;line-height:115%;'><strong><span style="color:white;">Payment Screen &ndash; New Direct Debit details (only relevant if paying by Direct Debit)</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 538.7pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 35.65pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Enter bank account number and sort code &ndash; remember these must be read back to the caller</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver all relevant scripting displayed in Guidewire</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:12px;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:538.7pt;margin-left:-7.35pt;border-collapse:collapse;border:none;" width="718">
	<tbody>
		<tr>
			<td style="width: 538.7pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;line-height:115%;'><strong><span style="color:white;">Smart Pay Screen</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 538.7pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 35.6pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Answer any questions prior to this section as only card details should be discussed here</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Enter the customers debit/credit card details and take payment</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver all call close wording displayed on Guidewire</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
