<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong>***MUST SPEAK TO PH OR PERSON THAT SET UP THE ORIGINAL POLICY TO ASSOCIATE</strong>***</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 5.3pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Call Opening</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 17.4pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm Data Protection (Full name, Date of Birth, First line of address, Postcode)</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:16px;line-height:115%;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:.3pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 16.35pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Limited Disclosure</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 81.5pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:8px;">&nbsp;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&ldquo;During the call I&rsquo;ll give you some key information about your cover and the additional products available. Full information is available on our website. Is that okay?&rdquo;</strong> <strong><span style="color:red;">(Must gain consent)</span></strong><span style="color:#0070C0;">&nbsp;</span></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:#0070C0;">&nbsp;(</span><span style="color:red;">If <strong>NO</strong></span><span style="color:#0070C0;">&nbsp;&ndash;&nbsp;</span><span style="color:red;">Give prices but explain</span><span style="color:#0070C0;">&nbsp;</span><span style="color:#0070C0;">&ldquo;We won&rsquo;t be able to accept this policy over the phone unless you agree to receive limited information. &nbsp; &nbsp;If you prefer to see the full terms &amp; conditions beforehand, these are available on our website or you can have information sent by post and I&rsquo;ll call you back?&rdquo;)</span></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:8px;">&nbsp;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:2.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:16px;line-height:115%;">&nbsp;</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:16px;line-height:115%;">&ldquo;<strong>You accepted/renewed your existing home policy on the (DATE), before I copy the information over, are you happy the details we hold on file are still accurate and nothing has changed</strong>&rdquo;?</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:16px;line-height:115%;color:red;">No?</span><span style="font-size:16px;line-height:115%;">&nbsp;- Check ALL details &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:red;">Yes?</span> - See below:</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:11px;line-height:115%;">&nbsp;</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:21.85pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><u><span style="font-size:16px;line-height:115%;color:black;">Associate Data -</span></u><u><span style="font-size:16px;line-height:115%;color:red;">&nbsp;***CHECK COVER START DATE OF ASSOCIATED POLICY***</span></u></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:11px;line-height:115%;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">All Tiers KCs</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 46.3pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:-14.15pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">&nbsp;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:-14.15pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">&nbsp; &nbsp; &nbsp;&ldquo;We offer three levels of cover; Admiral, Gold and Platinum. All three levels provide cover for loss or &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;damage caused by things such as fire, theft and flooding and include new for old, alternative &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;accommodation and replacement lock cover.&rdquo;</span></strong></p>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:-14.15pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">&nbsp;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:1.5px;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">&ldquo;You are currently insured on our (Name of tier &amp; Full KCs), Would you like me to quote this level of cover again?&rdquo;<span style="color:red;">&nbsp;&nbsp;</span></span></strong><span style="font-size:16px;color:red;">MUST GAIN CONSENT</span></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:72.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:red;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:1.5px;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;color:red;">Ancillaries on existing policy?</span><strong><span style="line-height:115%;font-size:16px;">&nbsp;&ndash; &ldquo;You currently have the following extra benefits on your policy (Full KCs of each), would you like these included again?</span></strong><span style="line-height:115%;font-family:Calibri;font-size:16px;">&nbsp;&nbsp;</span><span style="line-height:115%;color:red;">MUST GAIN CONSENT</span></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:16px;line-height:115%;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Property</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 51.3pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Confirm address of insured property and Buildings and/or contents</span></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Confirm the policy start date</span></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Confirm Occupants &ndash; no new ones?</span></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;background:yellow;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 22.55pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Property Use</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 65.15pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="line-height:115%;font-size:16px;">&nbsp;&ldquo;Has anyone in your household ever had insurance refused or terms imposed, have any unspent or pending criminal convictions, are currently bankrupt or have an IVA?&rdquo;</span></strong></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:18.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:red;">NOTE:<strong>&nbsp;</strong>Unspent criminal convictions (including pending convictions) are <u>not</u> acceptable on HH product. If these are noted on a motor quote/policy then these should be noted on the HH but the risk should be DECLINED<strong>.</strong></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:8px;line-height:115%;background:yellow;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 13.7pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Property Cover</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 77.5pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">&ldquo;Have you purchased any high risk items over &pound;1000 or bikes over &pound;350 since you accepted/renewed your policy?&rdquo;</span></strong></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:  .0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:5px;color:black;">&nbsp;</span></strong></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;color:black;">Confirm contents sum insured is still sufficient.</span></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:5px;line-height:115%;color:black;">&nbsp;</span></strong></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:26px;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-family:Calibri;color:black;font-size:12.0pt;color:black;">If rebuild value is outside of BCIS range &ndash; Read full Rebuild cost disclosure</span><span style='font-family:"Century Gothic",sans-serif;color:black;font-size:16px;color:black;'>.</span></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;background:yellow;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Claims</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 52.95pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="line-height:115%;font-size:16px;">&ldquo;Since you accepted/renewed your policy have you or any occupant had any home insurance claims or suffered any losses? &ldquo;</span></strong></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:  .0001pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:16px;line-height:115%;color:red;">Note any existing Claims/Convictions to cross reference on new quote.</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:11px;line-height:115%;">&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Negotiation</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 58.85pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Confirm pro-rata price to pay and when policy will renew</span></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Confirm voluntary and compulsory XS and deliver any XS wording displayed on Guidewire.</span></li>
					</ul>
				</div>

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;font-size:13px;font-family:"Calibri",sans-serif;'><span style="font-size:16px;color:red;">(If delivering additional compulsory excesses must advise these are in addition to voluntary excess</span><span style="font-size:16px;color:red;">)</span></p>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Deliver any Exclusions/Conditions</span></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Policy Document Screen</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 52.6pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Deliver all relevant scripting displayed in Guidewire</span></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Confirm preferred document delivery method</span></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Confirm email address and mobile phone number in all cases</span></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">FCA Script</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 18.95pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Deliver the relevant ICOBS script/legal disclosure</span></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;background:yellow;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Payment</span></strong><span style="font-size:16px;line-height:115%;color:white;">&nbsp;<strong>Screen</strong> &ndash; New Direct Debit details (only relevant if paying by Direct Debit)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 39.7pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Enter bank account number and sort code &ndash; remember these must be read back to the caller</span></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Deliver all relevant scripting displayed in Guidewire</span></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;background:yellow;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:531.6pt;margin-left:-1.15pt;border-collapse:collapse;border:none;" width="709">
	<tbody>
		<tr>
			<td style="width: 531.6pt;border: 1pt solid windowtext;background: rgb(31, 73, 125) none repeat scroll 0% 0%;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:white;">Smart Pay screen</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 531.6pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 34pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Answer any questions prior to this section, only card details should be discussed here</span></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Enter the customers debit/credit card number and take payment</span></li>
						<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="line-height:115%;font-size:16px;">Deliver all call close wording displayed on Guidewire</span></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
