<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Policy Info Screen</span></strong> &ndash; Confirm Data Protection (<span style="font-size:13px;">Full name, Date of Birth, First line of address, Postcode</span>)</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:507.75pt;border-collapse:collapse;border:none;" width="677">
	<tbody>
		<tr>
			<td style="width: 254pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 15.3pt;vertical-align: top;" valign="top" width="50.073855243722306%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">PDC/ADC notes left by previous agent</span></strong></p>
			</td>
			<td style="width: 253.75pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 15.3pt;vertical-align: top;" valign="top" width="49.926144756277694%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">No notes left</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 254pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 40.35pt;vertical-align: top;" valign="top" width="50.073855243722306%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">Continue with NDC&nbsp;</span></p>
			</td>
			<td style="width: 253.75pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 40.35pt;vertical-align: top;" valign="top" width="49.926144756277694%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">Must conduct a PDC yourself.&nbsp;</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&ldquo;<strong>Who are you currently insured with?</strong>&rdquo; &ndash; Transfer to Renewals if existing to price match</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&ldquo;<strong>Who is your home insurance with?</strong>&rdquo; &ndash; Offer Multicover if applicable</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Does the price match the customers price?</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;color:red;">Yes</span></strong><span style="color:red;">&nbsp;</span>&ndash; Continue with NDC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong><span style="font-size:16px;color:red;">No</span></strong><span style="color:red;">&nbsp;</span>&ndash; Must conduct a PDC</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&ldquo;<strong>Have you or anyone else changed any of the details since we last spoke to you?</strong>&rdquo;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;color:red;">No</span></strong><span style="color:red;">&nbsp;</span>&ndash; Continue with NDC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><span style="font-size:16px;color:red;">Yes</span></strong><span style="color:red;">&nbsp;</span>&ndash; Review changes and confirm the new price (if applicable)</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&ldquo;<strong>During the call I&rsquo;ll give you some key information about your cover and the additional products available. Full information is available on our website. Is that okay?</strong>&rdquo; &ndash;&nbsp;<strong><span style="font-size:16px;color:red;">MUST GAIN CONSENT</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>(<span style="color:red;">If the caller declines &ndash; Give the price but explain&nbsp;</span>&ldquo;<em><span style="color:#548DD4;">We won&rsquo;t be able to accept any cover over the phone unless you agree to receive limited information. If you prefer to see the full terms and conditions beforehand, these are available on our website or you can have the information sent by post and I&rsquo;ll call you back?</span></em>&rdquo;)</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Personal Motor Screen</span></strong> &ndash; Vehicle details</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<ul style="list-style-type: disc;margin-left:undefined;">
	<li>Confirm registration number phonetically</li>
	<li>Confirm the make and model only</li>
	<li>Brand new Camper van/Import vehicle &ndash; &ldquo;<em><span style="color:#548DD4;">Should your vehicle be written off or stolen we offer the marker value.</span>&rdquo;</em>&nbsp;</li>
</ul>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">NDC Consent</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<ul style="list-style-type: disc;margin-left:undefined;">
	<li>&ldquo;<em><span style="color:#548DD4;">I can arrange cover for you based on the information we&rsquo;ve already checked being accurate. Is that okay?</span>&rdquo;</em></li>
	<li>Leave a note on the quote advising of NDC.</li>
</ul>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Negotiation Screen</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">&nbsp;</span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:506.0pt;border-collapse:collapse;border:none;" width="675">
	<tbody>
		<tr>
			<td style="width: 252.75pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 16.5pt;vertical-align: top;" valign="top" width="49.925925925925924%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">12-Month policy</span></strong></p>
			</td>
			<td style="width: 253.25pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 16.5pt;vertical-align: top;" valign="top" width="50.074074074074076%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">10-Month policy (BAP)</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 252.75pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 83.75pt;vertical-align: top;" valign="top" width="49.925925925925924%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&ldquo;This is a 12-month policy.&rdquo;</span></strong></p>
			</td>
			<td style="width: 253.25pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 83.75pt;vertical-align: top;" valign="top" width="50.074074074074076%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&ldquo;<em>This is a no claims bonus accelerator policy. This policy runs for 10 months so will renew in (Name of month). It does work out more expensive than a 12 month policy, however you still earn 1 years no claims bonus, providing you do not have a claim in this period</em>.&rdquo;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:499.4pt;border-collapse:collapse;border:none;" width="666">
	<tbody>
		<tr>
			<td style="width: 167.35pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 12.45pt;vertical-align: top;" valign="top" width="33.53383458646616%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Fully Comprehensive</span></strong></p>
			</td>
			<td style="width: 166.1pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 12.45pt;vertical-align: top;" valign="top" width="33.233082706766915%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Third Party, Fire &amp; Theft</span></strong></p>
			</td>
			<td style="width: 165.95pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 12.45pt;vertical-align: top;" valign="top" width="33.233082706766915%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Third Party Only</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 167.35pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 91.35pt;vertical-align: top;" valign="top" width="33.53383458646616%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">Comprehensive cover:&nbsp;</span></strong><strong><span style="font-size:13px;">Cover for accidental damage, fire, theft, or malicious damage to your own car or any damage you cause to other people and their property. <u>We&rsquo;ll provide a small courtesy vehicle whilst yours is being repaired at one of our approved garages following a claim, but not if it&rsquo;s written off, or stolen and unrecovered.&nbsp;</u>(Either as part of cover summary or via HV explanation)</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
			</td>
			<td style="width: 166.1pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 91.35pt;vertical-align: top;" valign="top" width="33.233082706766915%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">Third Party Fire &amp; Theft cover:&nbsp;</span></strong><strong><span style="font-size:13px;">Cover for fire and theft damage to your own car or any damage you cause to other people and their property. There is no accidental or malicious damage cover for your own vehicle. <u>We&rsquo;ll provide a small courtesy vehicle if yours can be repaired at one of our approved garages following a claim, but not if it&rsquo;s written off, or stolen and unrecovered.&nbsp;</u>(Either as part of cover summary or via HV explanation)</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
			</td>
			<td style="width: 165.95pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 91.35pt;vertical-align: top;" valign="top" width="33.233082706766915%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">Third Party Only cover</span></strong><strong><span style="color:black;">&nbsp;</span></strong><strong><span style="font-size:13px;">provides cover for any damage you cause to other people and their property. Your vehicle is not covered for any type of loss or damage.</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style='font-size:13px;font-family:"Century Gothic",sans-serif;color:red;background:yellow;'>Negotiation &ndash; Summary Screen</span></strong></p>

<ul style="list-style-type: disc;margin-left:undefined;">
	<li><strong><span style="background:yellow;">Direct Debit? &ndash; Before ANY DDs are confirmed&nbsp;</span></strong><strong><span style="background:yellow;background:yellow;">&ndash; &ldquo;</span></strong><span style="font-family:Calibri;color:black;background:yellow;">All instalments I quote will include a charge for credit.</span><span style="font-family:Calibri;color:black;background:yellow;">&rdquo;</span></li>
	<li><span style='line-height:115%;font-family:"Century Gothic",sans-serif;font-size:13px;'>Confirm price and KCs of included upgrades</span></li>
	<li><u><span style="font-family:;color:black;">Mods due to disability flagged:&nbsp;</span></u><span style='font-family:"Times New Roman";color:#0070C0;'>We cannot guarantee a courtesy car will be adapted for your disability. Is this ok?</span></li>
	<li>Deliver all other standard benefits</li>
	<li>Confirm Key Characteristics and price of any ancillaries already included</li>
	<li>Confirm excesses</li>
	<li>Confirm start date</li>
	<li>Telematics/Classic Car &ndash; Deliver any Telematics/Classic car negotiation scripting</li>
</ul>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Negotiation screen</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:498.75pt;border-collapse:collapse;border:none;" width="665">
	<tbody>
		<tr>
			<td style="width: 249.5pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 13.2pt;vertical-align: top;" valign="top" width="50.07518796992481%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">4yrs or more NCB currently not protected?</span></strong></p>
			</td>
			<td style="width: 249.25pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 13.2pt;vertical-align: top;" valign="top" width="49.92481203007519%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Protected NCB included online</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 249.5pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 159.6pt;vertical-align: top;" valign="top" width="50.07518796992481%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">&ldquo;<em><span style="color:#548DD4;">Would you like information on how you can protect your no claims bonus?</span></em>&rdquo;</span></p>
			</td>
			<td style="width: 249.25pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 159.6pt;vertical-align: top;" valign="top" width="49.92481203007519%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">&ldquo;<em><span style="color:#548DD4;">You&rsquo;ve opted to protect your no claims bonus, this increases your premium by &pound;xx.xx, is this okay?</span></em>&rdquo; &ndash; Deliver price per car</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><em><span style="font-size:13px;">&ldquo;<span style="color:#548DD4;">Protected no claims bonus means you can make 2 fault claims in 3 years without your bonus being reduced, without it, any fault claim will reduce your bonus. The average discount we awarded our motor customers last year with XX year&rsquo;s bonus was XX%</span></span></em><span style="font-size:13px;">&nbsp;(deliver this for each car). <em><span style="color:#548DD4;">Protected no claims bonus doesn&rsquo;t protect the overall price of your policy; this might increase following an accident even if you were not at fault.</span>&rdquo;</em></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">&nbsp;</span></strong></p>

<ul style="list-style-type: disc;margin-left:undefined;">
	<li>Proof of NCB - &ldquo;<em><span style="color:#4F81BD;">There&rsquo;s no requirement to send in proof of your no claims bonus unless we contact you</span></em>&rdquo;</li>
	<li>Import disclosure &ndash; &ldquo;<em><span style="color:#548DD4;">You shouldn&rsquo;t drive the car in the UK until the car is registered and displaying UK plates. We&rsquo;ll cancel cover on the 30<sup>th</sup> day if we haven&rsquo;t received a valid registration number.</span>&rdquo;</em></li>
	<li>Deliver all exclusions and conditions.</li>
</ul>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Policy Documents screen</span></strong></p>
<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver all relevant scripting displayed in Guidewire</li>
		<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm preferred document delivery method</li>
		<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm email address and mobile phone number in all cases</li>
	</ul>
</div>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">FCA Script&nbsp;</span></strong></p>
<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver the relevant ICOBS script/legal disclosure</li>
	</ul>
</div>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Payment screen</span></strong> &ndash; New Direct Debit Details (only relevant if paying by Direct Debits)</p>

<ul style="list-style-type: disc;margin-left:undefined;">
	<li>Enter bank account number and sort code &ndash; remember these must be read back to the caller</li>
	<li>Deliver all relevant scripting displayed in Guidewire</li>
</ul>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;">Smart Pay screen</span></strong></p>

<ul style="list-style-type: disc;margin-left:undefined;">
	<li>Answer any questions prior to this section as only the card details should be discussed here. &nbsp;</li>
	<li>Enter the customers debit/credit card number and take payment.&nbsp;</li>
	<li>When finished on smart pay make sure that you are clicking <strong>BACK TO POLICY</strong></li>
</ul>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>(All updates as per central docs Accepting a car only quote (PDC &nbsp;NDC) V12)</p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
