<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>
	<br>
</p>

<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td>
				<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

					<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong>Associate data CAR V2 - 13/09/2019 &nbsp;&nbsp;</strong></p>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;<strong><span style='font-size:15px;line-height:115%;font-family:"Century Gothic",sans-serif;'>&nbsp;</span></strong></p>

<p>
	<br>
</p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:19px;line-height:115%;">Associating /Consolidating <span style="color:red;">ACTIVE MOTOR RISKS (Non-Telematics)</span> to join a new policy. &nbsp;</span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:11px;color:red;">&nbsp;</span></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">MUST SPEAK TO PH OR PERSON THAT SET UP THE ORIGINAL POLICY TO ASSOCIATE.</span></strong></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:16px;">&nbsp;</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;">&ldquo;You accepted/renewed your existing motor policy on the (DATE), before I copy the information over, are you happy the details we hold on file are still accurate and nothing has changed&rdquo;?</span></strong></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;color:red;">No?</span></strong><span style="font-size:16px;line-height:115%;">&nbsp;- Check ALL details &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong><span style="color:red;">Yes?</span></strong> - See below:</span></p>

<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:5.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;">&nbsp;</span></strong></p>

<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:5.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;">I&rsquo;ll give you some information about the cover we provide, the full list of benefits are available on our website <u>is that ok</u>?</span></strong><span style="font-size:16px;line-height:115%;">&nbsp;<strong><span style="color:red;">(Must gain consent)</span></strong><span style="color:#0070C0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span></p>

<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:5.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;line-height:115%;color:#0070C0;">(</span><span style="font-size:13px;line-height:115%;color:red;">If <strong>NO</strong></span><span style="font-size:13px;line-height:115%;color:#0070C0;">&nbsp;&ndash;&nbsp;</span><span style="font-size:13px;line-height:115%;color:red;">Give prices but explain</span><span style="font-size:13px;line-height:115%;color:#0070C0;">&nbsp;</span><span style="font-size:13px;line-height:115%;color:#0070C0;">&ldquo;We won&rsquo;t be able to accept any cover over the phone unless you agree to receive limited information. &nbsp;If you prefer to see the full terms &amp; conditions beforehand, these are available on our website or you can have information sent by post and I&rsquo;ll call you back?&rdquo;)</span></p>

<p style='margin-top:5.0pt;margin-right:0cm;margin-bottom:5.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:11px;line-height:115%;color:#0070C0;">&nbsp;</span></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;line-height:115%;">Once associated/consolidated: &nbsp; &nbsp;<u><span style="color:red;">***CHECK COVER START DATE OF ASSOCIATED POLICY***</span></u></span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;">Confirm Make, Model &amp; Reg with phonetics.</span></strong></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;">Confirm names of ALL drivers.</span></strong></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;">Note any existing Claims/Convictions to cross reference on new quote.</span></strong></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">&ldquo;Have you or any named driver had</span></strong><span style="font-family:Calibri;font-size:12.0pt;color:#262626;">&nbsp;<strong>any motoring offences including fixed penalties, convictions, or disqualifications during the year, or have any pending prosecutions?&rdquo;</strong>&nbsp;</span></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="line-height:115%;font-family:Calibri;font-size:12.0pt;">&ldquo;Have you or any named driver had any accidents, incidents, thefts or losses, or made any claims, fault or non-fault, during the year?&rdquo;</span></strong></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;line-height:115%;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">Existing policy <u>Classic car? (May need Level 9 review)</u></span></strong></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><em><span style="font-size:16px;">&nbsp;&ldquo;</span></em></strong><strong><span style="font-size:16px;">This policy will continue as an agreed value policy, please notify us if the agreed value changes.</span></strong></p>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="line-height:115%;color:red;font-size:16px;color:red;">Ancillaries on existing policy?</span></strong><strong><span style="line-height:115%;font-size:16px;">&nbsp;&ndash; &ldquo;You currently have the following additional benefits on your policy (Full KCs of each), would you like to include these again?&rdquo;</span></strong><span style="line-height:115%;font-size:16px;">&nbsp; <strong>(Must gain consent)</strong></span></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:11px;line-height:115%;">&nbsp;</span></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td>
							<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

								<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>02/09/19 onwards</p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>&nbsp;<strong><span style="line-height:115%;font-size:12.0pt;color:red;background:yellow;">Call Assist BKD included on existing policy? - &nbsp;</span></strong><strong><span style="line-height:115%;background:yellow;font-size:12.0pt;background:yellow;">Advise caller that provider will be The AA from inclusion Date</span></strong><strong><span style="line-height:115%;font-size:16px;">.</span></strong></li>
	</ul>
</div>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:11px;line-height:115%;">&nbsp;</span></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:26px;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">Price summary including ancillaries already added</span></strong></li>
	</ul>
</div>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:36.0pt;'><strong><span style="font-size:11px;">&nbsp;</span></strong></p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'>

	<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:26px;">
		<li style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-family:Calibri;">New ancillary up-sells</span></strong></li>
	</ul>
</div>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:11px;">&nbsp;</span></strong></p>

<ul style="list-style-type: disc;margin-left:26px;">
	<li><strong><span style="font-family:Calibri;">Full XS</span></strong></li>
	<li><strong><span style="font-family:Calibri;">Offer PNCB if applicable</span></strong></li>
	<li><strong><span style="font-family:Calibri;">Exclusions &amp;Conditions&nbsp;</span></strong></li>
	<li><strong><span style="font-family:Calibri;">ICOBS &ndash; (Combined if MultiCover)<span style="color:red;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span></strong></li>
</ul>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style='font-size:15px;line-height:115%;font-family:"Century Gothic",sans-serif;'>&nbsp;</span></strong></p>
