<table border="1" cellpadding="0" cellspacing="0" style="width:487.55pt;border-collapse:collapse;border:none;" width="650">
	<tbody>
		<tr>
			<td style="width: 487.55pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 14.9pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:white;">Call Opening</span></p>
			</td>
		</tr>
		<tr>
			<td style="width: 487.55pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 117.25pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm Data Protection &ndash; (<span style="font-size:13px;">Full name, Date of Birth, First line of address, Postcode</span>)</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm the registration number of one of the already included risks</li>
						<li>
							<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

								<ol style="margin-bottom:0cm;list-style-type: circle;">
									<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm the make and model if caller doesn&rsquo;t know the registration number</li>
								</ol>
							</div>
						</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Identify whether or not the caller is an &lsquo;acceptable caller&rsquo;</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Explain the pro-rata nature of any FDCs</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Ask how many cars are being added to the policy&nbsp;</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Ensure the &lsquo;effective&rsquo; date is today&rsquo;s date</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Has an online quote been completed for the FDC?</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;color:red;">Yes</span></strong><span style="color:red;">&nbsp;</span>&ndash; Associate the online quote, and continue below&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong><span style="font-size:16px;color:red;">No</span></strong><span style="color:red;">&nbsp;</span>&ndash; Add the vehicle as a new quote</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Was the online quote a Telematics quote?</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">Yes</span></strong><span style="color:red;">&nbsp;</span>&ndash; Must set up as a new policy unless customer led. To add as an FDC the new Telematics risk MUST be covered for more than <strong>150</strong> days and the existing policy must be in its first term.</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:red;">No</span></strong><span style="color:red;">&nbsp;</span>&ndash; Continue below</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:489.0pt;border-collapse:collapse;border:none;" width="652">
	<tbody>
		<tr>
			<td style="width: 244.3pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 14.1pt;vertical-align: top;" valign="top" width="50%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Standard PDC</span></strong></p>
			</td>
			<td style="width: 244.7pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 14.1pt;vertical-align: top;" valign="top" width="50%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">First car quote</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 244.3pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 188.25pt;vertical-align: top;" valign="top" width="50%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">&nbsp;</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&ldquo;Who are you currently insured with? &ndash;&nbsp;</span></strong><span style="font-size:13px;">Associate the active policy if already with us and remember to cancel the current renewal.</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&ldquo;Are you happy to accept the policy based on the information already entered being accurate?&rdquo;</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
			</td>
			<td style="width: 244.7pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 188.25pt;vertical-align: top;" valign="top" width="50%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">Update title and cancel down any existing policy &ndash; Renewals don&rsquo;t deal with these calls.</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">Check that PH name is identical to how displayed on driver licence.</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&ldquo;Do you have any unspent non-motoring convictions?&rdquo;</span></strong><span style="font-size:13px;">&nbsp;&ndash; Update field if necessary</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">&nbsp;</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&ldquo;The quotation you&rsquo;ve had through first car quote is based on assumptions about you and the car. Any changes may affect the price. Are you happy that you&rsquo;ve read and acknowledged these and also the terms and conditions?&rdquo;</span></strong><em><span style="font-size:13px;">&nbsp;</span></em><span style="font-size:13px;">&ndash;</span> <strong><span style="color:red;">MUST GAIN CONSENT</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:16px;color:red;">Yes</span></strong> &ndash; &ldquo;Great! I&rsquo;ll just check some details with you.&rdquo;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong><span style="font-size:16px;color:red;">No</span></strong> &ndash; Must complete an ADC</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&ldquo;During the call I&rsquo;ll give you some key information about your cover and the additional products available. Full information is available on our website. Is that okay?&rdquo;</strong><span style="color:black;">&nbsp;</span>&ndash;&nbsp;<strong><span style="font-size:16px;color:red;">MUST GAIN CONSENT</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>(<span style="color:red;">If the caller declines &ndash; Give the price but explain</span> &ldquo;<span style="color:#548DD4;">We won&rsquo;t be able to accept any cover over the phone unless you agree to receive limited information. If you prefer to see the full terms and conditions beforehand, these are available on our website or you can have the information sent by post and I&rsquo;ll call you back?</span>&rdquo;)</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:493.55pt;border-collapse:collapse;border:none;" width="658">
	<tbody>
		<tr>
			<td style="width: 493.55pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 14.35pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Personal Motor Screen &ndash; Vehicle details</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 493.55pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 80.55pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm registration number phonetically</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm the make and model only</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm the start date</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Brand new Camper van/Import vehicle &ndash; &ldquo;<span style="color:#548DD4;">Should your vehicle be written off or stolen we offer the market value.</span>&rdquo;</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:497.3pt;border-collapse:collapse;border:none;" width="663">
	<tbody>
		<tr>
			<td style="width: 497.3pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 14.3pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Driver Screen &ndash; Roles</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 497.3pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 74.9pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Check to ensure no details have changed between the quote and the active policy</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Check and advise if DOC has been removed from any cars</li>
						<li>
							<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

								<ol style="margin-bottom:0cm;list-style-type: circle;">
									<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&ldquo;<span style="color:#548DD4;">(description of change) is one of our rating factors, so I&rsquo;ll take some details and let you know how it affects the price. I&rsquo;ll give you a breakdown of all the costs before we go ahead with including the vehicle.</span>&rdquo;</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:36.0pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:497.3pt;border-collapse:collapse;border:none;" width="663">
	<tbody>
		<tr>
			<td style="width: 497.3pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 14.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Personal Motor Screen &ndash; Driver and usage</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 497.3pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 64.6pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Check NCB earned in the PH name in the UK and is not being used on another car.</li>
						<li>
							<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

								<ol style="margin-bottom:0cm;list-style-type: circle;">
									<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&ldquo;<span style="color:#548DD4;">There&rsquo;s no requirement to send in proof of your no claims bonus unless we contact you.</span>&rdquo;</li>
								</ol>
							</div>
						</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Offer intro NCB if applicable</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:498.0pt;border-collapse:collapse;border:none;" width="664">
	<tbody>
		<tr>
			<td style="width: 249.1pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 13.35pt;vertical-align: top;" valign="top" width="50%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">4yrs or more NCB currently not protected?</span></strong></p>
			</td>
			<td style="width: 248.9pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 13.35pt;vertical-align: top;" valign="top" width="50%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Protected NCB included online</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 249.1pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 161.7pt;vertical-align: top;" valign="top" width="50%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">&ldquo;<span style="color:#548DD4;">Would you like information on how you can protect your no claims bonus?</span>&rdquo;</span></p>
			</td>
			<td style="width: 248.9pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 161.7pt;vertical-align: top;" valign="top" width="50%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">&ldquo;<span style="color:#548DD4;">You&rsquo;ve opted to protect your no claims bonus, this increases your premium by &pound;xx.xx, is this okay?</span>&rdquo; &ndash; Deliver price per car</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:13px;">&ldquo;<span style="color:#548DD4;">Protected no claims bonus means you can make 2 fault claims in 3 years without your bonus being reduced, without it, any fault claim will reduce your bonus. The average discount we awarded our motor customers last year with XX year&rsquo;s bonus was XX%</span> (deliver this for each car). <span style="color:#548DD4;">Protected no claims bonus doesn&rsquo;t protect the overall price of your policy; this might increase following an accident even if you were not at fault.</span>&rdquo;</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:499.4pt;border-collapse:collapse;border:none;" width="666">
	<tbody>
		<tr>
			<td style="width: 167.35pt;border: 1pt solid windowtext;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 12.45pt;vertical-align: top;" valign="top" width="33.53383458646616%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Fully Comprehensive</span></strong></p>
			</td>
			<td style="width: 166.1pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 12.45pt;vertical-align: top;" valign="top" width="33.233082706766915%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Third Party, Fire &amp; Theft</span></strong></p>
			</td>
			<td style="width: 165.95pt;border-color: windowtext windowtext windowtext currentcolor;border-style: solid solid solid none;border-width: 1pt 1pt 1pt medium;border-image: none 100% / 1 / 0 stretch;background: rgb(79, 129, 189) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 12.45pt;vertical-align: top;" valign="top" width="33.233082706766915%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Third Party Only</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 167.35pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 91.35pt;vertical-align: top;" valign="top" width="33.53383458646616%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:  yellow;">Comprehensive cover:&nbsp;</span></strong><strong><span style="font-size:13px;background:yellow;">Cover for accidental damage, fire, theft, or malicious damage to your own car or any damage you cause to other people and their property. <u>We&rsquo;ll provide a small courtesy vehicle whilst yours is being repaired at one of our approved garages following a claim, but not if it&rsquo;s written off, or stolen and unrecovered.&nbsp;</u></span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:yellow;">(Either as part of cover summary or via HV explanation)</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:yellow;">&nbsp;</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><u><span style="color:black;background:yellow;">Mods due to disability flagged:&nbsp;</span></u><span style="color:#0070C0;background:yellow;">We cannot guarantee a courtesy car will be adapted for your disability. Is this ok?</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:yellow;">&nbsp;</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:yellow;">&nbsp;</span></strong></p>
			</td>
			<td style="width: 166.1pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 91.35pt;vertical-align: top;" valign="top" width="33.233082706766915%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:  yellow;">Third Party Fire &amp; Theft cover:&nbsp;</span></strong><strong><span style="font-size:13px;background:yellow;">Cover for fire and theft damage to your own car or any damage you cause to other people and their property. There is no accidental or malicious damage cover for your own vehicle. <u>We&rsquo;ll provide a small courtesy vehicle if yours can be repaired at one of our approved garages following a claim, but not if it&rsquo;s written off, or stolen and unrecovered.&nbsp;</u>(Either as part of cover summary or via HV explanation)</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:yellow;">&nbsp;</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><u><span style="color:black;background:yellow;">Mods due to disability flagged:&nbsp;</span></u><span style="color:#0070C0;background:yellow;">We cannot guarantee a courtesy car will be adapted for your disability. Is this ok?</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:yellow;">&nbsp;</span></strong></p>
			</td>
			<td style="width: 165.95pt;border-color: currentcolor windowtext windowtext currentcolor;border-style: none solid solid none;border-width: medium 1pt 1pt medium;padding: 0cm 5.4pt;height: 91.35pt;vertical-align: top;" valign="top" width="33.233082706766915%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;background:  yellow;">Third Party Only cover</span></strong><strong><span style="color:black;background:yellow;">&nbsp;</span></strong><strong><span style="font-size:13px;background:yellow;">provides cover for any damage you cause to other people and their property. Your vehicle is not covered for any type of loss or damage.</span></strong></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<ul style="list-style-type: disc;margin-left:undefined;">
	<li>Deliver all other standard benefits</li>
	<li>Confirm Key Characteristics and price of any ancillaries already included

		<ol style="list-style-type: circle;">
			<li>Deliver additional Key Characteristics if adding ancillaries to an existing risk</li>
		</ol>
	</li>
	<li>Confirm all excesses for new risk(s)

		<ol style="list-style-type: circle;">
			<li>Deliver new excesses for included risks if they&rsquo;ve changed.&nbsp;</li>
		</ol>
	</li>
	<li>Confirm start date</li>
	<li>Import disclosure &ndash; &ldquo;<span style="color:#548DD4;">You shouldn&rsquo;t drive the car in the UK until the car is registered and displaying UK plates. We&rsquo;ll cancel cover on the 30<sup>th</sup> day if we haven&rsquo;t received a valid registration number.</span>&rdquo;</li>
	<li>Deliver all exclusions and conditions for all risks (<span style="font-size:13px;">new and included risks</span>)</li>
</ul>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:492.8pt;border-collapse:collapse;border:none;" width="657">
	<tbody>
		<tr>
			<td style="width: 492.8pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 12.6pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Premium delivery</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 492.8pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 92.35pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Check Guidewire diff tree before confirming any prices. Discuss any differences with the customer and update details accordingly if necessary</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Advise of any AP/RP on existing vehicles (<span style="font-size:13px;">write off any admin fee if changes have been made</span>)</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&ldquo;Taking into account the changes we&rsquo;ve made today (including the risk, changing details etc.), the total to pay today is &pound;XXX.XX&rdquo;</strong></li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong>&ldquo;The vehicle will be covered from (date) until your renewal, which works out as xxx days on cover.&rdquo;</strong></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:492.8pt;border-collapse:collapse;border:none;" width="657">
	<tbody>
		<tr>
			<td style="width: 492.8pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 15.7pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Policy Documents screen</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 492.8pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 41.55pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver all relevant scripting displayed in Guidewire</li>
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Confirm email address and mobile phone number if adding a new policy holder.</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:492.05pt;border-collapse:collapse;border:none;" width="656">
	<tbody>
		<tr>
			<td style="width: 492.05pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 13.7pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Payment details</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 492.05pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 114.45pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:red;">Paying in full</span>:</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&ldquo;<span style="color:#548DD4;">We&rsquo;ll apply for this payment when the car joins the policy, and we&rsquo;ll use the card details held on file.</span>&rdquo;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:red;">Paying by Direct Debits</span>:</p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:#548DD4;">&rdquo; The total charge for today&rsquo;s transaction is &pound;XX, which includes a charge for credit of &pound;XX and your APR is XX%.</span></p>

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="color:#548DD4;">The total charge will be spread over your remaining instalments, and your new instalments will be broken down in your credit agreement. Is that okay? &rdquo;</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:496.55pt;border-collapse:collapse;border:none;" width="662">
	<tbody>
		<tr>
			<td style="width: 496.55pt;border: 1pt solid windowtext;background: rgb(84, 141, 212) none repeat scroll 0% 0%;padding: 0cm 5.4pt;height: 13.5pt;vertical-align: top;" valign="top" width="100%">

				<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">FCA Script</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 496.55pt;border-color: currentcolor windowtext windowtext;border-style: none solid solid;border-width: medium 1pt 1pt;border-image: none 100% / 1 / 0 stretch;padding: 0cm 5.4pt;height: 21.75pt;vertical-align: top;" valign="top" width="100%">
				<div style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>

					<ul style="margin-bottom:0cm;list-style-type: disc;margin-left:undefined;">
						<li style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>Deliver the relevant ICOBS script/Legal disclosure &ndash; Additional risk</li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>(All updates as per central docs Adding a vehicle (FDC) V3)</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
