<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;">NB Multicar Multiproduct Pitch V1 (20/02/20)</span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:black;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">At the beginning of the call ask who the current home insurer is</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">(Determine combined or contents only).</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">When is your home insurance due for renewal?&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:red;">(If unsure try and support the customer with obtaining an estimate)</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">Multicar Pitch</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">Complete Motor InstaQuote for all available cars&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">Tick HH risk</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">Gauge if additional cars competitive&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:red;">(Do not deliver any prices/discounts at this point)</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:red;">If not competitive &ndash;&nbsp;</span></strong><strong><span style="font-size:17px;color:black;">Deliver rough car prices&nbsp;</span></strong><strong><span style="font-size:17px;color:red;">(Without HH included)&nbsp;</span></strong><strong><span style="font-size:17px;color:black;">and if PH&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">not interested in Multicar revert to Single Car HH Instaquote script</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:red;">If competitive -&nbsp;</span></strong><strong><span style="font-size:17px;color:black;">Confirm Motor InstaQuote assumptions</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">Untick HH on Negotiation and deliver Multicar prices</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">(Tick HH line)&nbsp;</span></strong><strong><span style="font-size:17px;color:black;">However, that isn&rsquo;t the best price we can offer you. If you were to bring your home insurance over to us and combine this with your car insurance, it <u>could</u> further reduce your car premium on the&nbsp;</span></strong><strong><span style="font-size:17px;color:#0070C0;">(Car 1)</span></strong><strong><span style="font-size:17px;color:black;">&nbsp;to &pound;xx.xx and on&nbsp;</span></strong><strong><span style="font-size:17px;color:#0070C0;">(Car 2)</span></strong><strong><span style="font-size:17px;color:black;">&nbsp;to &pound;xx.xx.</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">It&rsquo;s a very easy process to bring your home insurance across to us, works exactly the same as the Multicar&nbsp;</span></strong><strong><span style="font-size:17px;color:red;">(Expand if necessary)</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">All I need to do is ask you a few quick questions about your home insurance needs and I can get an accurate price.</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">Have you had any home insurance claims or incidents in the last 5 years? (continue with assumptions).</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;color:red;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;">** Remember to remove risk if not interested **</span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;color:red;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;color:red;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;">&nbsp;</span></u></strong><strong><span style="font-size:17px;color:red;">If only contents/ buildings change accordingly</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">Run through assumptions and confirm single PH or Joint</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;">** Remember to remove risk if not interested **</span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
