<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;">NB Instaquote Multicover Pitch&nbsp;</span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;">At the beginning of the call ask who the current home insurer is&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">(Determine combined or contents only).</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:black;">When is your home insurance due for renewal?&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;margin-left:18.0pt;'><strong><span style="font-size:17px;color:red;">(If unsure try and support the customer with obtaining an estimate)</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">Once Multicar up-sell has been complete.</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">If you bring your home insurance over to us and combine this with your car insurance, it <u>could&nbsp;</u>reduce your car premium from &pound;xx.xx to &pound;xx.xx making a saving of &pound;xx.xx.</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;">When would you need cover from?</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;">** Remember to remove risk if not interested **</span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">It&rsquo;s a very easy process to bring your home insurance across to us, you stay with your current provider until renewal, so you don&rsquo;t incur any cancellation fees.</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">When your current home insurance expires, your new home insurance with us then joins your car insurance.</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">All I need to do is ask you a few quick questions about your home insurance needs and I can get an accurate price.</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:black;">Have you had any home insurance claims or incidents in the last 5 years? (continue with assumptions).</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><span style="font-size:17px;color:red;">&nbsp;</span></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;">&nbsp;</span></u></strong><strong><span style="font-size:17px;color:red;">If only contents/ buildings change accordingly</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">Run through assumptions and confirm single PH or Joint</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="font-size:17px;color:red;">&nbsp;</span></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;">** Remember to remove risk if not interested **</span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'><strong><u><span style="font-size:17px;color:red;"><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<p style='margin:0cm;margin-bottom:.0001pt;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
